.InputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.ToggleAllButton {
  margin: 0 1rem;
  cursor: pointer;
}

.Input {
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  padding: 16px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
.Input::-webkit-input-placeholder,
.Input::-moz-placeholder,
.Input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.Section {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.TodoList {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;
}
.TodoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  padding: 0 1rem;
  background: #fff;
  border-bottom: 1px solid #ededed;
}

.Toggle {
  flex: 0 0 auto;
  margin-right: 1rem;
  cursor: pointer;
  color: #BDBDBD;
}
.Toggle:hover {
  color: #9E9E9E;
}
.ToggledOn {
  color: #4CAF50;
}
.ToggledOn:hover {
  color: #388E3C;
}

.Label {
  flex: 1 1 auto;
  white-space: pre-line;
  word-break: break-all;
  padding: 15px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  user-select: none;
}
.LabelCompleted {
  color: #d9d9d9;
  text-decoration: line-through;
}

.DeleteButton {
  flex: 0 0 auto;
  padding: 1rem;
  font-size: 30px;
  color: #ef5350;
  transition: color 0.2s ease-out;
  cursor: pointer;
}
.DeleteButton:hover {
  color: #b71c1c;
}
