.Application {
  margin: 40px 0;
}

.Header {
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.HeaderLink {
  text-decoration: none;
}

.Lead {
  text-align: center;
}

.Timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.TimelineButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}
.TimelineButton[disabled] {
  opacity: 0.5;
  cursor: auto;
}

.Footer {
  margin: 2rem auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}
